<h1>Troubles#new</h1>
<p>Find me in app/views/troubles/new.html.erb</p>

<%= form_for Trouble.new,:url => { :action => :create } do |f| %>
	<%= f.country_select :country, placeholder: '国' %><br/>
	<%= render partial: 'subregion_select', locals: {parent_region: f.object.country} %>
	<%= f.text_field :continent, placeholder: '州' %><br/>
	<%= f.text_area :description, placeholder: '詳細' %><br/>
	<br/>
	<%= f.submit "送信する" %>
<% end %>